@page
@model AboutModel
<!-- Used to demo deploying stable tags creates instability -->
<!-- https://blogs.msdn.microsoft.com/stevelasker/2018/03/01/docker-tagging-best-practices-for-tagging-and-versioning-docker-images/ -->
<style type="text/css">
    body {
        background-color:white;
    }
</style>
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<h2>Registry jengademos.azurecr.io IP: @Model.RegistryIp</h2>

<b>HostName:</b> @Model.HostName<br />
<b>OS Architecture:</b> @Model.OsArchitecture<br />
<b>OS Description:</b> @Model.OsDescription<br />
<b>Process Architecture:</b> @Model.ProcessArchitecture<br />
<b>Framework Description:</b> @Model.FrameworkDescription<br />
<b>ASP.NET Core Package Version</b> @Model.AspNetCorePackageVersion<br />
<b>ASP.NET Hosting Environment:</b> @Model.AspNetCoreEnvironment<br />
<b>RegistryUrl:</b> @Model.RegistryUrl<br />
<b>Image Build Date:</b> @Model.ImageBuildDate<br />
<b>Base Image Version:</b> @Model.BaseImageVersion<br />
<h3>Environment Variables:</h3>
@Html.Raw(@Model.EnvironmentVariables)
